body {
    padding: 0;
    margin: 0;
    background-color: #001649;
}

nav {
    height: 72px;
    background-color: #000D40;
}

.signika-bold {
    font-family: "Signika", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.nav-underline .nav-link.active, .nav-link, .teks{
  color: #F0EDFF;
}

.nav-underline .nav-link.active:hover{
  cursor:default;
}

.nav-link:hover{
  color:#5AECC1;
}

/* .borderNeon{
  position: absolute;
  border-radius: 50%;
  background-image: linear-gradient(white 40%, #000D40 60%);
  width: 310px;
  height: 310px;
  animation: rounded 2s linear infinite;
} */

.foto{
  object-fit: cover;
  animation: bigscale 2s ease 1;
}


.muncul{
  animation: muncul 2s ease-in-out 1;
}

@keyframes muncul{
  0%{
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}

@keyframes bigscale{
  0%{
    opacity: 0%;
    scale: 60%;
  }
  100%{
    opacity: 100%;
    scale: 100%;
  }
}

@keyframes rounded{
  0%{
    rotate: 360deg;
  }
}

.container2{
  width: 81vw;
  margin: auto;
  padding-top: 40px;
}

.intro{
  color:#5AECC1;
}

.logoUnja{
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.svgCard{
  width: 40px;
  height: 40px;
}

.svgAbout{
  width: 50px;
  height: 50px;
}

.card{
  background-color: #000D40;
  border: 2px solid #5AECC1;
  color: #F0EDFF;
}

/* animation */
.animationBlinkLine{
  overflow: hidden;
  white-space: nowrap;
  border-right: solid #5AECC1;
  margin: 2 auto;
  animation: blink-line 1s step-end infinite;
}


@keyframes blink-line{
  from, to{
    border-color: transparent;
  }

  50%{
    border-color: #5AECC1;
  }
}

@media (max-width:576px){
  .fs{
    font-size: 1rem;
  }

  .container{
    justify-content: center;
  }
}

@media (min-width:992px){
  .foto{
    width:300px;
  }
  .teks{
    width: 520px;
  }
  .home{
    height: calc(100vh - 72px);
    margin: auto;
    width: 81vw;
  }
}


