body {
    padding: 0;
    margin: 0;
    background-color: #001649;
}

/* navbar */
nav {
  height: 72px;
  background-color: #000D40;
  opacity: 95%;
}

.nav-underline .nav-link.active, .nav-link, .teks{
color: #F0EDFF;
}

.nav-underline .nav-link.active:hover{
cursor:default;
}

.nav-link:hover{
color:#5AECC1;
}

/* text */
.signika-bold {
  font-family: "Signika", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  color: #F0EDFF;
  font-style: normal;
}

/* image */
.foto{
  object-fit: cover;
  animation: bigscale 2s ease 1;
}

.aboutMe{
  background-color: #000D40;
}

.intro{
  color:#5AECC1;
}

.logoUnja{
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.svgCard{
  width: 40px;
  height: 40px;
}

.svgAbout{
  width: 50px;
  height: 50px;
}

.svgConnect{
  width: 35px;
  height: 35px;
}

.card{
  background-color: #000D40;
  border: 2px solid #5AECC1;
  color: #F0EDFF;
}

.aboutMe:hover{
  background-color: #F0EDFF;
  color: #000D40;
  cursor: pointer;
}

.card:hover{
  cursor: pointer;
  background-color: white;
  color: #000D40;
  border:none;
  box-shadow: 25px 15px #000D40;
}

/* animation */
.animationBlinkLine{
  overflow: hidden;
  white-space: nowrap;
  border-right: solid #5AECC1;
  margin: 2 auto;
  animation: blink-line 1s step-end infinite;
}

.muncul{
  animation: muncul 2s ease-in-out 1;
}

.lambaian{
  display: inline-block;
  animation: lambai 1s ease-in-out 2;
  transform-origin: bottom center;
  transform: rotate(-5deg);
}

.kiri{
  position:relative;
  animation: kiri 1s linear;
}

@keyframes kiri{
  0%{
    left: 0;
    width: 0;
    opacity: 0;
  }
  100%{
    opacity: 100%;
    left: 0;
    width: 100%;
  }
}

@keyframes lambai {
  0% {
      transform: rotate(-5deg);
  }
  50% {
      transform: rotate(20deg);
  }
  100% {
      transform: rotate(-5deg);
  }
}

@keyframes muncul{
  0%{
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}

@keyframes bigscale{
  0%{
    opacity: 0%;
    scale: 60%;
  }
  100%{
    opacity: 100%;
    scale: 100%;
  }
}

@keyframes blink-line{
  from, to{
    border-color: transparent;
  }

  50%{
    border-color: #5AECC1;
  }
}

/* mediaquery */

@media (max-width:576px){
  .fs{
    font-size: 1rem;
  }

  .container{
    justify-content: center;
  }

  .about{
    height: calc(100vh - 72px);
    margin: auto;
    width: 81vw;
  }
}

@media (min-width:992px){
  .foto{
    width:300px;
  }
  .teks{
    width: 520px;
  }
  .home, .about, .project{
    height: calc(100vh - 72px);
    margin: auto;
    width: 81vw;
  }
}


